<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/sales">Sales Volume</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/orders">Latest Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/health">System Health</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/derogationHeader">Derogations</a>
  </li>
</ul>
<hr>
<div class="card" style="width: 12rem;">
  <div class="card-body">
    <h5 class="card-title">Date</h5>
    <p class="card-text">{{ todaydate  | date: 'dd/MM/yyyy HH:mm' }}</p>
<hr>
    <app-testservisucom1></app-testservisucom1>
<hr>
    <app-testservisucom2></app-testservisucom2>
<hr>

  </div>
</div>
<hr>

<div class="card" style="width: 12rem;">
  <div class="card-body">
    <h5 class="card-title">Name</h5>
    <p class="card-text">{{ duserName  }}</p>
    </div>
    </div>
