
<form [formGroup]="ngForm" autocomplete="off" (ngSubmit)="sLoginClick()" novalidate>

  <mat-grid-list cols="1" row="4" [style.background]="'white'" rowHeight="130px">

  <mat-grid-tile>
    <mat-form-field appearance="standard" style="width: 400px;" floatlabel="never">
      <mat-label>FullName</mat-label>
      <input matInput placeholder="FullName" required [formControl]="FullName">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field appearance="standard" style="width: 400px;" floatlabel="never">
      <mat-label>password</mat-label>
      <input matInput placeholder="Password" required [formControl]="Password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      <mat-error *ngIf="Password.invalid">{{getErrorMessagePassword()}}</mat-error>
    </mat-form-field>
  </mat-grid-tile>

  </mat-grid-list>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <button class="btn btn-lg btn-primary btn-block" (click)="onNoClick()">Close</button>

</form>




